Source: debmonitor
Section: admin
Priority: optional
Maintainer: Riccardo Coccioli <rcoccioli@wikimedia.org>
Uploaders: Moritz Muehlenhoff <moritz@wikimedia.org>
Build-Depends: debhelper-compat (=13), dh-exec, dh-python, python3-all, python3-pytest-cov, python3-requests-mock, tox
Standards-Version: 4.1.1

Package: debmonitor-server
Architecture: all
Depends:
    python3-debmonitor,
    ${python3:Depends},
    ${misc:Depends},
Description: DebMonitor tracks Debian packages across a fleet of hosts
 DebMonitor is a Django-based web application that allows to track Debian packages installed across a fleet of hosts,
 along with their pending software/security updates. It provides also a standalone command line script (CLI) that,
 when distributed in the target hosts, allows to automatically update DebMonitor's database using APT and DPKG hooks.


Package:python3-debmonitor 
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
Description: DebMonitor tracks Debian packages across a fleet of hosts (Python modules)
 DebMonitor is a Django-based web application that allows to track Debian packages installed across a fleet of hosts,
 along with their pending software/security updates. It provides also a standalone command line script (CLI) that,
 when distributed in the target hosts, allows to automatically update DebMonitor's database using APT and DPKG hooks.
 This package contains the Python modules.
 .