{% extends "./base.html" %}

{% block summary %}
<div class="card-columns">
  {% for counter in counters %}
  <div class="card bg-light debmonitor-card-small">
    <h5 class="card-header">
      <a href="{% url counter.url|add:':index' %}">{{ counter.title }}</a>
      <span class="badge badge-{% if counter.count > 0 %}primary{% else %}secondary{% endif %} align-text-bottom">{{ counter.count }}</span>
    </h5>
    <ul class="list-group list-group-flush">
      {% for row in counter.rows %}
        <li class="list-group-item">
          {{ row.title|safe }}
          <span class="badge badge-{% if row.count > 0 %}{{ row.style }}{% else %}secondary{% endif %} align-text-bottom">{{ row.count }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block content %}
<hr class="bg-dark w-50"/>
<div class="card-columns">
  <div class="card bg-light debmonitor-card-small">
    <div class="card-body">
      <h6 class="card-title">Totals</h6>
      {% for total in totals %}
      <div class="card-text mb-1">
        <span>{{ total.title }}</span>
        <span data-toggle="tooltip" title="{{ total.tooltip }}" class="badge badge-{% if total.count > 0 %}{{ total.style }}{% else %}secondary{% endif %} align-text-bottom">{{ total.count }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="card bg-light debmonitor-card-small">
    <div class="card-body">
      <h6 class="card-title">Host updates</h6>
        {% for update in updates %}
        <div class="card-text">
          <span>{{ update.title }}:&nbsp;</span>
          <span data-toggle="tooltip" title="{{ update.value|date:"r" }}">{{ update.value|timesince }} ago</span>
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="card bg-light debmonitor-card-small">
    <div class="card-body">
      <h6 class="card-title">Image updates</h6>
        {% for update in image_updates %}
        <div class="card-text">
          <span>{{ update.title }}:&nbsp;</span>
          <span data-toggle="tooltip" title="{{ update.value|date:"r" }}">{{ update.value|timesince }} ago</span>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
