{% extends "./base.html" %}

{% block content %}
<table id="debmonitor-table" class="table table-sm table-hover table-striped table-borderless hide-loading" cellspacing="0" width="100%">
  <thead>
    <tr>
      {% for header in table_headers %}
      <th data-field="{{ header.title }}" data-sortable="true" class="text-nowrap"{% if forloop.first and header.badges %} id="debmonitor-th1"{% endif %}>
        {% if header.badges %}
        <div class="row">
          <div class="col-md-8"{% if forloop.first %} id="debmonitor-th1-title"{% endif %}>
            <span data-toggle="tooltip" title="{{ header.tooltip }}">{{ header.title }}</span>
          </div>
          <div class="col-md-4 px-4 debmonitor-badge-container">
          {% for badge in header.badges %}
          <button id="customSort{{ forloop.counter }}" type="button" class="btn btn-sm btn-{{ badge.style }} px-1 py-0 align-text-bottom {% if forloop.last %}active{% else %}text-secondary{% endif %} debmonitor-badge" data-toggle="tooltip" data-trigger="hover" title="{{ badge.tooltip }}" aria-pressed="true">&darr;</button>
          {% endfor %}
          </div>
        {% else %}
        <span data-toggle="tooltip" title="{{ header.tooltip }}">{{ header.title }}</span>
        {% endif %}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% block table_body %}{% endblock %}
  </tbody>
</table>
{% endblock %}

{% block bottom_script %}
$(document).ready(function() {
    var table = $('#debmonitor-table').DataTable({
        'deferRender': true,
        'fixedHeader': true,
        'stateSave': true,
        'stateDuration': -1,  // Use browser's sessionStorage.
        {% if datatables_page_length %}
        'pageLength': {{ datatables_page_length }},
        {% endif %}
        'initComplete': function (settings, json) {
            $('#debmonitor-table').removeClass('hide-loading');

            {% if upgrades_column %}
            $('#debmonitor-table_wrapper > div.row:first > div').prop('class', 'col-sm-12 col-md-4')
            $('<div class="col-sm-12 col-md-4 text-left"> \
              <select class="custom-select" id="customFilterSelect"> \
                <option value="0" selected>Show all packages</option> \
                <option value="1">Show only upgradable packages</option> \
                <option value="2">Show only security upgrades</option> \
              </select> \
            </div>').insertAfter('#debmonitor-table_wrapper > div.row:first > div:first');

            var api = new $.fn.dataTable.Api(settings);
            var state = api.state.loaded();
            if (state && state.customFilterSelect) {
                $('#customFilterSelect').val(state.customFilterSelect).change();
            }

            $('#customFilterSelect').change(function() {
                switch(this.value) {
                    case "1":
                        table.search('').columns().search('');
                        table.columns({{ upgrades_column }}).search('.', true, false).draw();
                        break;
                    case "2":
                        table.search('').columns().search('');
                        table.columns({{ upgrades_column }} + 1).search('{{ security_upgrade }}', false, false).draw();
                        break;
                    default:
                        table.search('').columns().search('').draw();
                        break;
                }
            });
            {% endif %}

            {% if custom_sort %}
            $('#customSort3').addClass('active').removeClass('text-secondary');

            $('#customSort1').click(function(event) {
                event.stopPropagation();
                table.order([[{{ custom_sort.installed }}, 'desc'], [0, 'asc']]).draw();
                $(this).addClass('active').removeClass('text-secondary');
                $('#customSort2, #customSort3').removeClass('active').addClass('text-secondary');
            });
            $('#customSort2').click(function() {
                event.stopPropagation();
                table.order([[{{ custom_sort.upgrades }}, 'desc'], [{{ custom_sort.installed }}, 'desc'], [0, 'asc']]).draw();
                $(this).addClass('active').removeClass('text-secondary');
                $('#customSort1, #customSort3').removeClass('active').addClass('text-secondary');
            });
            $('#customSort3').click(function() {
                event.stopPropagation();
                table.order([[{{ custom_sort.security }}, 'desc'], [{{ custom_sort.upgrades }}, 'desc'], [{{ custom_sort.installed }}, 'desc'], [0, 'asc']]).draw();
                $(this).addClass('active').removeClass('text-secondary');
                $('#customSort1, #customSort2').removeClass('active').addClass('text-secondary');
            });
            {% endif %}
        },
        'language': {'search': 'Filter:'},
        'lengthMenu': [[50, 100, 500, -1], [50, 100, 500, 'All']],

        {% if custom_sort %}
        'order': [[{{ custom_sort.security }}, "desc"], [{{ custom_sort.upgrades }}, "desc"], [{{ custom_sort.installed }}, "desc"], [0, "asc"]],
        {% elif default_order %}
        'order': {{ default_order|safe }},
        {% else %}
        'order': [],
        {% endif %}

        {% if datatables_column_defs %}
        'columnDefs': {{ datatables_column_defs|safe }},
        {% endif %}

        {% if custom_sort or column_grouping %}
        'drawCallback': function (settings) {
            {% if custom_sort %}
            if (settings.bSorted) {
                $('#customSort1, #customSort2, #customSort3').removeClass('active').addClass('text-secondary');
            }
            {% endif %}

            {% if column_grouping %}
            var api = this.api();
            var rows = api.rows({page: 'current'}).nodes();
            var last1 = null;
            var last2 = null;
            var counter = 0;
            var counters = [];

            api.column({{ column_grouping.columns.0 }}, {page:'current'}).data().each(function (group, i) {
                if (last1 !== group) {
                    counters.push(counter);
                    $(rows).eq(i).before(
                        '<tr class="table-group1"> \
                          <td colspan="{{ table_headers|length }}"> \
                            {{ column_grouping.column_titles.0 }}: <span class="font-weight-bold">' +
                            group +
                        '</span> <span data-toggle="tooltip" title="Number of hosts that have this package installed and are running this OS"> \
                         <span id="tableGroupCounter' + counters.length + '" class="badge badge-primary align-text-bottom"></span></span></td></tr>'
                    );
                    last1 = group;
                    counter = 0;
                }
                counter++;
            });

            api.column({{ column_grouping.columns.1 }}, {page:'current'}).data().each(function (group, i) {
                if (last2 !== group) {
                    counters.push(counter);
                    $(rows).eq(i).before(
                        '<tr class="table-group2"> \
                          <td colspan="{{ table_headers|length }}" class="pl-4"> \
                            {{ column_grouping.column_titles.1 }}: <span class="font-weight-bold">' +
                            group +
                        '</span> <span data-toggle="tooltip" title="Number of hosts that have this version installed and are running this OS"> \
                         <span id="tableGroupCounter' + counters.length + '" class="badge badge-primary align-text-bottom"></span></span></td></tr>'
                    );
                    last2 = group;
                    counter = 0;
                }
                counter++;
            });
            counters.push(counter);

            $.each(counters, function(i, val) {
                $('#tableGroupCounter' + i).text(val);
            });
            {% endif %}
        },
        {% endif %}

        {% if upgrades_column %}
        'stateSaveParams': function (settings, data) {
            if ($('#customFilterSelect').length == 1) {
                data.customFilterSelect = $('#customFilterSelect').val();
            }
        },
        {% endif %}
    });
});
{% endblock %}
